.cache/
auto-save-list/
eln-cache/
elpa/
eshell/
games/
image-dired/
lib/
librime/
newsticker/
rime/
straight/
transient/
url/
var/
request/

.dap-breakpoints
.edbi-ds-history
.last-package-update-day
.lsp-session-v1
.org-id-locations
amx-items
bookmarks
custom.el
forge-database.sqlite
init-private.el
logview-cache.extmap
network-security.data
org-roam.db
places
prescient
projectile-bookmarks.eld
projects
recentf
tramp

*~
.#*
\#*\#